* {
/*	border: 1px solid black;*/
	box-sizing: border-box;
	font-family: 'Space Mono', monospace;
	text-decoration: none;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

nav {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	text-decoration: none;
	background-color: transparent;
  	width: 100%;
  	position:fixed;
  	box-shadow: none;
}
header {
	background-image: url("images/astrology-astronomy-beautiful-713664.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  /*  padding: 175px;*/
    height: 600px;
    z-index: 1;
	/*margin-bottom: 48px;*/
}

h1 {
	text-align: center;
	font-size: 3em;
}

.smallhero {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;
}

#smallhero {
/*	margin: 300px, 150px;*/
/*	padding: 150px, 50px;*/
	z-index: 3;
	max-height: 300px;
	max-width: 200px;
	opacity: .8;
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	margin: auto;
}

#About {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
/*	align-items: center;
*/	padding: 25px;
	margin: auto;
	background-color: black;
	color: white;
/*	width: 75%;*/
}
/*
a:link > #about {
    color: black;
    font-style: bold;
}*/

#aboutpic1 {
	border-radius: 5px;
}

#abouttext1 {
	padding: 50px;
	margin: 20px;
	border: 5px solid black;
}

#about2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
/*	align-items: center;
*/	padding: 25px;
	margin: ;
	background-color: black;
	color: white;
/*	width: 75%;*/
}

#abouttext2 {
	padding: 50px;
	margin: 20px;
	border: 5px solid black;
}

#aboutpic2 {
	border-radius: 5px;
}

.carousel{
	margin-left: -50px;
}

.carousel-item {
	border-radius: 5px;
}

.carousel-description {
	display: none;
}
