* {
/*	border: 1px solid black;*/
	box-sizing: border-box;
	font-family: 'Space Mono', monospace;
	text-decoration: none;
}

nav {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	text-decoration: none;
/*	background-color: transparent;
  	width: 100%;
  	position:fixed;*/
}
header {
	background-image: url("images/astrology-astronomy-beautiful-713664.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  /*  padding: 175px;*/
    height: 600px;
    z-index: 1;
	/*margin-bottom: 48px;*/
}

h1 {
	text-align: center;
}

.smallhero {
	  display: flex;
	  justify-content: center;
	align-items: center;
	height: 600px;
}

#smallhero {
/*	margin: 300px, 150px;*/
/*	padding: 150px, 50px;*/
	z-index: 3;
	max-height: 300px;
	max-width: 200px;
	opacity: .8;
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	margin: auto;
}

#about1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
/*	align-items: center;
*/	padding: 50px;
	margin: auto;
/*	width: 75%;*/
}

#abouttext1 {
	padding: 50px;
	margin: 50px;
	border: 5px solid black;
}

#about2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
/*	align-items: center;
*/	padding: 50px;
	margin: auto;
/*	width: 75%;*/
}

#abouttext2 {
	padding: 50px;
	margin: 50px;
	border: 5px solid black;
}
