* {
/*	border: 1px solid black;*/
	box-sizing: border-box;
	font-family: 'Josefin Sans',
	text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #371672;
}

a:active {
    color: black;
}

nav {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	text-decoration: none;
	background-color: transparent;
  	width: 100%;
  	position:fixed;
  	box-shadow: none;
  	padding-left: 15px;
  	padding-right: 15px;
}

nav a {
	padding: 0 8px;
}

header {
	background-image: url("images/astrology-astronomy-beautiful-713664.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    z-index: 1;
    width: 100%;

}

h1 {
	text-align: center;
	font-size: 4em;
	font-family: 'Poiret One';
	font-weight: 400;
}

.smallhero {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;
}

#smallhero {
	z-index: 3;
	max-height: 300px;
	max-width: 200px;
	opacity: .8;
	border-radius: 5px;
	margin: 0 auto;
}

#About {
	background-color: black;
	color: white;
	padding: 10px 75px 25px 75px;
}

/*.aboutheader {
	margin-top: 20px;
}*/

.about1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
/*	padding: 25px;*/
	margin: auto;
	
/*	width: 75%;*/
}

#aboutpic1, #aboutpic2 {
	border-radius: 5px;
}

#abouttext1 {
	padding: 50px;
	margin: 20px;
	font-size: 1em;
}

#about2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
/*	align-items: center;
*/	padding: 25px;
	background-color: black;
	color: white;
	padding: 25px 75px 40px 75px;
	margin-top: -1px;
/*	width: 75%;*/
}

#abouttext2 {
	padding: 100px 50px 50px 50px;
	margin: 20px;
}

.carousel {
	margin-left: -44px;
	margin-top: -75px;
	margin-bottom: 70px;
}

.materialboxed {
	border-radius: 5px;
}

#resume img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 5px;
/*	max-height: auto;
	max-width: 750px;*/

	border: 1px solid black;
}

.footernav {
	background-color: black;
	color: white;
	font-size: 2em;
	margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.footernav a {
	padding: 8px;
}
/*fixing materialize CSS*/

blockquote {
	border-left: none;
}
